Django>=4.2.0
djangorestframework>=3.14.0
channels[daphne]>=4.0.0
channels-redis>=4.1.0
djangochannelsrestframework>=0.1.0
django-cors-headers>=4.3.0
requests>=2.31.0
Pillow>=10.2.0
drf-yasg==1.21.7
pytest-django>=4.5
pytest>=7.0
pydeck>=0.8.0
pandas>=2.0.0

# Database
dj-database-url>=2.1.0
psycopg2-binary>=2.9.9
python-dotenv>=1.0.0
